content {
  display: none;
}

select {
  font-size: 12px;
}

.border-accent-1 {
  border: 4px solid #3299BB;

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.border-accent-2 {
  border: 4px solid #FF9900;

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}