<!DOCTYPE html>
<html lang="en" ng-app="cloudeval">
    <head>
        <meta name="viewport" content="width=900" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta charset="UTF-8" />

        <title>Monad presentation &mdash; slides.dflemstr.name</title>

        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script -->
        <script src="js/jquery.min.js"></script>
        <!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script -->
        <script src="js/angular.js"></script>
        <script src="js/tooltip.js"></script>
        <script src="js/popover.js"></script>
        <script src="js/base64.js"></script>
        <script src="js/cloudeval.js"></script>

        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/haskell.css"/>
        <link rel="stylesheet" href="css/popover.css"/>
    </head>
    <body class="impress-not-supported" ng-controller="MainCtrl">
        <div class="fallback-message">
            <p>
                Det verkar som om din webbläsare inte stöder de
                funktioner som krävs för att visa den här
                presentationen, så du får nu istället se en förenklad
                version.
            </p>
            <p>
                För att få en bättre upplevelse, vänligen använd den
                senaste versionen utav Chrome, Safari, Firefox
                el. likn.
            </p>
        </div>
        <div id="impress" data-max-scale="2">
            <div id="start" class="step slide" data-x="0" data-y="0">
                <h1>Monader</h1>
                <h2>David Flemström</h2>
                <a rel="license"
                   href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                    <img alt="Creative Commons License"
                         src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
                </a><br/>
                <span xmlns:dct="http://purl.org/dc/terms/"
                      property="dct:title">
                    Presentationen om monader
                </span>
                av
                <a xmlns:cc="http://creativecommons.org/ns#"
                   href="http://github.com/dflemstr/monad-presentation"
                   property="cc:attributionName"
                   rel="cc:attributionURL">
                    David Flemström
                </a>
                är licensierad under en
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/se/deed.en_US">
                    Creative Commons Attribution-ShareAlike 2.5 Sweden-licens
                </a>.
            </div>
            <div id="presentation-info" class="step slide" data-x="1500" data-y="0">
                <h2>Presentationen finns online!</h2>
                <p>Gå till <a href="http://slides.dflemstr.name/monads">http://slides.dflemstr.name/monads</a></p>
                <p>Då kan du även redigera exempelkoden själv:</p>

                <content ng-model="test">
                    fibs = 1 : 1 : zipWith (+) fibs (tail fibs)

                    result = take 10 fibs
                </content>
                <haskell ng-model="test"/>
            </div>
            <div id="abstractions" class="step slide" data-x="3000" data-y="0">
                <h1>Abstraktioner</h1>
                <p>
                    Lös ett problem, inte en probleminstans.
                </p>
            </div>
            <div id="doubling-primitive" class="step slide" data-x="7000" data-y="0">
                <h1>Fördubbling utav tal</h1>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett tals dubbla värde.
                </p>

                <content ng-model="doublePrimitive">
                    import GHC.Num   (plusInteger)
                    import GHC.Float (plusFloat)

                    doubleInteger :: Integer -> Integer
                    doubleInteger x = plusInteger x x

                    doubleFloat :: Float -> Float
                    doubleFloat x = plusFloat x x

                    float   = doubleFloat 1.3
                    integer = doubleInteger 4
                </content>
                <haskell ng-model="doublePrimitive"/>
            </div>
            <div id="addition-abstraction" class="step slide" data-x="8500" data-y="0">
                <h1>Abstrahera addition</h1>

                <content ng-model="addAbstract">
                    import Prelude   (Integer, Float)
                    import GHC.Num   (plusInteger)
                    import GHC.Float (plusFloat)

                    class Num a where
                      (+) :: a -> a -> a

                    instance Num Integer where
                      a + b = plusInteger a b

                    instance Num Float where
                      a + b = plusFloat a b
                </content>
                <haskell ng-model="addAbstract"/>
            </div>
            <div id="doubling-numbers" class="step slide" data-x="10000" data-y="0">
                <h1>Fördubbling utav tal</h1>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett tals dubbla värde.
                </p>

                <content ng-model="doubleNumber">
                    import Data.Complex

                    doubleNumber :: Num a => a -> a
                    doubleNumber x = x + x

                    float   = doubleNumber 1.3 :: Float
                    integer = doubleNumber 3 :: Integer
                    complex = doubleNumber (2 :+ 3) :: Complex Double
                    ratio   = doubleNumber 2.6 :: Rational
                </content>
                <haskell ng-model="doubleNumber"/>
            </div>
            <div id="doubling-all-the-things" class="step slide" data-x="11500" data-y="0">
                <h1>Fördubbling utav <strong><q>allt</q></strong></h1>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett <em>objekts</em> dubbla värde.
                </p>

                <content ng-model="doubleMonoid">
                    import Data.Monoid

                    doubleMonoid :: Monoid a => a -> a
                    doubleMonoid x = x <> x

                    string = doubleMonoid "abc"
                    list = doubleMonoid [1, 2, 3]
                    sum = getSum $ doubleMonoid (Sum 5)
                    product = getProduct $ doubleMonoid (Product 5)
                </content>
                <haskell ng-model="doubleMonoid"/>
            </div>
            <div id="abstractions-overview-polymorphic" class="step slide" data-x="8900" data-y="-1500" data-scale="5">
                <h1>
                    Abstraktion via <strong>parameteriserad polymorfism</strong>
                </h1>
                <p>(inget nytt för er)</p>
            </div>
            <div id="abstractions-overview-advanced" class="step slide" data-x="8900" data-y="1500">
                <h1>Mer avancerade abstraktioner</h1>
            </div>
            <div id="map-primitive" class="step slide" data-x="10500" data-y="1500">
                <h1>Transformation utav element i behållare</h1>

                <content ng-model="doubleMap">
                    import qualified Data.Vector as V

                    doubleList = map (* 2)

                    doubleVector = V.map (* 2)

                    doubleMaybe (Just a) = Just (a * 2)
                    doubleMaybe Nothing = Nothing

                    list = doubleList [1, 2, 3, 4]
                    vector = doubleVector $ V.iterateN 4 (+1) 1
                    maybe = doubleMaybe $ Just 2
                </content>
                <haskell ng-model="doubleMap"/>
            </div>
            <div id="map-abstraction" class="step slide" data-x="12000" data-y="1500">
                <h1>Abstrakt transformation utav behållare</h1>

                <content ng-model="mapAbstract">
                    import Prelude (map, Maybe (..))
                    import qualified Data.Vector as V

                    class Functor f where
                      fmap :: (a -> b) -> f a -> f b

                    instance Functor [] where
                      fmap = map

                    instance Functor V.Vector where
                      fmap = V.map

                    instance Functor Maybe where
                      fmap f (Just a) = Just (f a)
                      fmap _ _        = Nothing
                </content>
                <haskell ng-model="mapAbstract"/>
            </div>
            <div id="map-all-the-things" class="step slide" data-x="13500" data-y="1500">
                <h1>Transformation utav element i <strong>alla</strong> behållare</h1>

                <content ng-model="doubleFunctor">
                    import Data.Vector as V
                    import Data.Complex

                    doubleFunctor :: (Functor f, Num a) => f a -> f a
                    doubleFunctor = fmap (* 2)

                    list = doubleFunctor [1, 2, 3, 4]
                    vector = doubleFunctor $ V.replicate 4 2
                    maybe = doubleFunctor $ Just (2 :+ 3)
                </content>
                <haskell ng-model="doubleFunctor"/>
            </div>
            <div id="functor-change-perspective" class="step slide" data-x="12000" data-y="6000" data-scale="5" data-rotate="90">
                <p>
                    Utgångsperspektiv:
                </p>
                <h1>
                    <code>
                        fmap <span class="border-accent-1">f</span>
                        <span class="border-accent-2">container</span>
                    </code>
                </h1>
                <p>
                    <em>Transformera</em> varje element i
                    <code><span class="border-accent-2">container</span></code> med
                    <code><span class="border-accent-1">f</span></code>
                </p>
            </div>
            <div id="functor-changed-perspective" class="step slide" data-x="15000" data-y="6000" data-rotate="270" data-scale="5">
                <p>
                    Nytt perspektiv:
                </p>
                <h1>
                    <code>
                        <span class="border-accent-1">f</span> <$>
                        <span class="border-accent-2">container</span>
                    </code>
                </h1>
                <p>
                    <em>Applicera</em> <code><span class="border-accent-1">f</span></code> till
                    innehållet i <code><span class="border-accent-2">container</span></code> (vad
                    det nu må vara)
                </p>
            </div>
            <div id="misc-functors" class="step slide" data-x="20000" data-y="0">
                <h1>Vad är en funktor?</h1>
                <p>
                    Begreppet <q>behållare</q> blir <q>funktor</q> &mdash;
                    något vars innehåll en funktion kan verka på.
                    Eller: ett universum utav värden, och funktioner kan lyftas
                    till detta universum.
                </p>
                <dl>
                    <dt><code>[a]</code></dt>
                    <dd>
                        Lista med flera värden &mdash; eller endast <em>ett</em> värde med
                        flera lika sannorlika möjligheter?
                    </dd>

                    <dt><code>Maybe a</code></dt>
                    <dd>
                        En <q>lista</q> med noll eller ett värde &mdash; eller ett
                        värde som bara <em>kanske</em> finns?
                    </dd>
                </dl>
            </div>
            <div id="applicative-functors" class="step slide" data-x="21500" data-y="0">
                <h1>Utökning utav funktorer</h1>
                <p>
                    Med en funktor så kan man applicera en funktion med ett argument.
                    Hur går det med två argument?
                </p>
                <content ng-model="applicative">
                    import Control.Applicative
                    -- class Functor f => Applicative f where
                    --   (<*>) :: f (a -> b) -> f a -> f b
                    --   pure  :: a -> f a

                    list = (*) <$> [1, 2, 3] <*> [2, 3, 4]

                    husbandSurname = Just "Persson"; wifeSurname = Just "Ericsson"
                    coupleSurname =
                      let combine h w = w ++ "-" ++ h
                      in combine <$> husbandSurname <*> wifeSurname
                </content>
                <haskell ng-model="applicative"/>
            </div>
            <div id="applicative-understanding" class="step slide" data-x="23000" data-y="0">
                <h1>Förstå applikativa funktorer</h1>
                <content ng-model="applicativeUnderstanding">
                    import Control.Applicative

                    list = [(+ 2), (* 2), (/ 2)] <*> [73, 35]

                    threeAndFour = pure (+) <*> pure 1 <*> [2, 3]
                    threeAndFour' = (+1) <$> [2, 3]
                    identical = threeAndFour == threeAndFour'
                </content>
                <haskell ng-model="applicativeUnderstanding"/>
            </div>
            <div id="advanced-functors" class="step slide" data-x="23000" data-y="1500">
                <h1>Kort sidospår: Mer konkreta funktorer</h1>
                <dl>
                    <dt><code>IO a</code></dt>
                    <dd>
                        Värden som inte finns ännu, men som kommer att finnas när
                        någon kommunikation med omvärlden skett.
                    </dd>

                    <dt><code>Rand a</code></dt>
                    <dd>
                        Värden som är slumpmässigt bestämda, det vill säga varje
                        gång man ser på det så kommer det att vara ett annat värde.
                    </dd>
                </dl>
            </div>
            <div id="io-functor-examples" class="step slide" data-x="22000" data-y="3000">
                <h1><code>IO</code>: Den vanligaste funktorn</h1>
                <p>
                    Ett värde i <code>IO</code> är ett program!
                </p>
                <content ng-model="ioFunctor">
                    import Control.Applicative

                    -- OBS: obegränsad IO-evaluering är ej tillåten här! Kopiera
                    -- innehållet till en .hs-fil och ladda den med ghci lokalt!

                    main :: IO ()
                    main = print "Hello, World!"

                    readTwoLines :: IO (String, String)
                    readTwoLines = (\ a b -> (a, b)) <$> getLine <*> getLine
                </content>
                <haskell ng-model="ioFunctor"/>
            </div>
            <div id="rand-functor-examples" class="step slide" data-x="24000" data-y="3000">
                <h1><code>Rand</code>: En ovanlig funktor</h1>
                <content ng-model="randFunctor">
                    import Control.Applicative
                    import Control.Monad.Random
                    import System.Random (mkStdGen)

                    die = getRandomR (1, 6)

                    outcome = (+) <$> die <*> die

                    outcome1, outcome2, outcome3 :: Int
                    outcome1 = evalRand outcome $ seed 11233152
                    outcome2 = evalRand outcome $ seed 721432823
                    outcome3 = evalRand outcome $ seed 342073

                    seed = mkStdGen
                </content>
                <haskell ng-model="randFunctor"/>
            </div>
            <div id="monads-finally" class="step slide" data-x="24500" data-y="0">
                <h1>Vad är nu monader för något?</h1>
                <p>
                    Ytterligare en utökning till funktorer.
                </p>
                <content ng-model="monadIntro">
                    class Monad m where
                      (>>=) :: m a -> (a -> m b) -> m b
                      return :: a -> m a
                      -- etc
                </content>
                <haskell ng-model="monadIntro"/>
            </div>
            <div id="monad-examples" class="step slide" data-x="26000" data-y="0">
                <h1>Exempel: Beräkna &pi;!</h1>
                <content ng-model="monadExamples">
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    samples = [-1, -0.99 .. 1]

                    points =
                      samples >>= \ x ->
                      samples >>= \ y ->
                      return $ inUnitCircle x y

                    piApprox = let (inside, outside) = partition id points
                      in fromIntegral (4 * length inside) / fromIntegral (length points)
                </content>
                <haskell ng-model="monadExamples"/>
            </div>
            <div id="monad-pretty" class="step slide" data-x="27500" data-y="0">
                <h1>Syntaktiskt socker</h1>
                <content ng-model="monadSugar">
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    samples = [-1, -0.99 .. 1]

                    points = do
                      x <- samples
                      y <- samples
                      return $ inUnitCircle x y

                    piApprox = let (inside, outside) = partition id points
                      in fromIntegral (4 * length inside) / fromIntegral (length points)
                </content>
                <haskell ng-model="monadSugar"/>
            </div>
            <div id="monad-io" class="step slide" data-x="29000" data-y="0">
                <h1>Exempel med <code>IO</code></h1>
                <content ng-model="monadIOExample">
                    main = do
                      putStrLn "What is your name?"
                      name <- getLine
                      putStrLn "What is your home town?"
                      town <- getLine
                      putStrLn $ "You are " ++ name ++ " from " ++ town
                </content>
                <haskell ng-model="monadIOExample"/>
            </div>
            <div id="monad-rand" class="step slide" data-x="30500" data-y="0">
                <h1>Exempel med <code>Rand</code></h1>
                <content ng-model="monadRandExample">
                    import Control.Monad.Random
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    sample = getRandomR (-1, 1) :: RandomGen g => Rand g Double

                    points = do { x <- sample; y <- sample; return $ inUnitCircle x y }

                    piApprox =
                      let ps = take 10000 $
                               unfoldr (Just . runRand points) (mkStdGen 1000)
                          (inside, outside) = partition id ps
                      in fromIntegral (4 * length inside) / fromIntegral (length ps)
                </content>
                <haskell ng-model="monadRandExample"/>
            </div>
            <div id="make-a-functor" class="step slide" data-x="32000" data-y="0" data-rotate="360">
                <h1>Göra en funktor!</h1>
                <content ng-model="makeAFunctor">
                    import Control.Applicative hiding ((<|>))
                    data Parser a = Parser { runParser :: String -> Maybe (a, String) }

                    instance Functor Parser where
                      fmap f p = Parser $ \ s -> case runParser p s of
                        Just (result, rest) -> Just (f result, rest)
                        Nothing             -> Nothing

                    instance Applicative Parser where
                      fp <*> ap = Parser $ \ s -> case runParser fp s of
                        Just (f, rest1) -> case runParser ap rest1 of
                          Just (a, rest2) -> Just (f a, rest2)
                          Nothing         -> Nothing
                        Nothing         -> Nothing
                      pure a = Parser $ \ s -> Just (a, s)
                </content>
                <haskell ng-model="makeAFunctor"/>
            </div>
            <div id="make-a-monad" class="step slide" data-x="33500" data-y="0" data-rotate="360">
                <h1>Göra en monad!</h1>
                <content ng-model="makeAMonad">
                    --include:makeAFunctor

                    instance Monad Parser where
                      a >>= f = Parser $ \ s -> case runParser a s of
                        Just (a, rest) -> runParser (f a) rest
                        Nothing -> Nothing
                      return a = Parser $ \ s -> Just (a, s)

                    p1 <|> p2 = Parser $
                      \ s -> case runParser p1 s of
                        Just x -> Just x
                        Nothing -> runParser p2 s
                </content>
                <haskell ng-model="makeAMonad"/>
            </div>
            <div id="make-a-monad-cont" class="step slide" data-x="35000" data-y="0" data-rotate="360">
                <h1>Göra monader: fortsättning</h1>
                <content ng-model="makeAMonadCont">
                    --include:makeAFunctor --include:makeAMonad

                    char c = Parser $ \ str -> case str of
                      c' : rest | c == c' -> Just (c, rest)
                      _ -> Nothing

                    string "" = return ""
                    string s@(c : cs) = do
                      char c
                      string cs
                      return s
                </content>
                <haskell ng-model="makeAMonadCont"/>
            </div>
            <div id="make-a-monad-usage" class="step slide" data-x="36500" data-y="0" data-rotate="360">
                <content ng-model="makeAMonadUsage">
                    import Data.Functor
                    --include:makeAFunctor --include:makeAMonad --include:makeAMonadCont
                    data Direction = Coming | Going deriving Show
                    data Statement = Greeting String Direction deriving Show

                    direction = (string "Hej då" >> return Going) <|>
                                (string "Hej" >> return Coming)

                    person = string "Ben" <|> string "Lisa" <|> string "Sam"

                    statement = do { d <- direction; char ' '; p <- person;
                                     return $ Greeting p d }

                    result1 = fst <$> runParser statement "Hej Ben"
                    result2 = fst <$> runParser statement "Hej då Lisa"
                    result3 = fst <$> runParser statement "Varsågod Sam"
                </content>
                <haskell ng-model="makeAMonadUsage"/>
            </div>
            <div id="last" class="step slide" data-x="17500" data-y="0" data-rotate="0" data-scale="20">
            </div>
        </div>
        <script src="js/impress.js"></script>
        <script type="text/javascript">
         impress().init();
        </script>
        <script src="js/ace/ace.js"></script>
        <script src="js/ace/mode-haskell.js"></script>
        <script src="js/ace/theme-tomorrow_night.js"></script>
    </body>
</html>
