<!DOCTYPE html>
<html lang="en" ng-app="cloudeval">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>

        <title>Monad presentation &mdash; slides.dflemstr.name</title>

        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script -->
        <script src="js/jquery.min.js"></script>
        <!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script -->
        <script src="js/angular.js"></script>
        <script src="js/base64.js"></script>
        <script src="js/codemirror.js"></script>
        <script src="js/haskell.js"></script>
        <script src="js/cloudeval.js"></script>
        <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>

        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/codemirror.css"/>
        <link rel="stylesheet" href="css/pastel-on-dark.css"/>
        <link rel="stylesheet" href="css/haskell.css"/>
        <link rel="stylesheet" media="all" href="css/theme/default.css">
        <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/theme/phone.css">

        <base target="_blank"/>
    </head>
    <body ng-controller="MainCtrl" style="opacity: 0">
        <slides class="layout-widescreen">
            <slide class="title-slide segue">
                <hgroup class="auto-fadein">
                    <h1 data-config-title><!-- populated from slide_config.json --></h1>
                    <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
                    <p data-config-presenter><!-- populated from slide_config.json --></p>
                </hgroup>
            </slide>
            <slide id="presentation-info">
                <hgroup>
                <h2>Presentationen finns online!</h2>
                </hgroup>
                <article>
                <p>Gå till <a href="{{location}}">{{location}}</a></p>
                <p>Då kan du även redigera exempelkoden själv:</p>

                <content ng-model="test">
                    fibs = 1 : 1 : zipWith (+) fibs (tail fibs)

                    result = take 10 fibs
                </content>
                <haskell ng-model="test"/>
                </article>
            </slide>
            <slide id="abstractions">
                <hgroup>
                <h2>Abstraktioner</h2>
                </hgroup>
                <article>
                <p>
                    Lös ett problem, inte en probleminstans.
                </p>
                </article>
            </slide>
            <slide id="doubling-primitive">
                <hgroup>
                <h2>Fördubbling utav tal</h2>
                </hgroup>
                <article>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett tals dubbla värde.
                </p>

                <content ng-model="doublePrimitive">
                    import GHC.Num   (plusInteger)
                    import GHC.Float (plusFloat)

                    doubleInteger :: Integer -> Integer
                    doubleInteger x = plusInteger x x

                    doubleFloat :: Float -> Float
                    doubleFloat x = plusFloat x x

                    float   = doubleFloat 1.3
                    integer = doubleInteger 4
                </content>
                <haskell ng-model="doublePrimitive"/>
                </article>
            </slide>
            <slide id="addition-abstraction">
                <hgroup>
                <h2>Abstrahera addition</h2>
                </hgroup>

                <article>
                <content ng-model="addAbstract">
                    import Prelude   (Integer, Float)
                    import GHC.Num   (plusInteger)
                    import GHC.Float (plusFloat)

                    class Num a where
                      (+) :: a -> a -> a

                    instance Num Integer where
                      a + b = plusInteger a b

                    instance Num Float where
                      a + b = plusFloat a b
                </content>
                <haskell ng-model="addAbstract"/>
                </article>
            </slide>
            <slide id="doubling-numbers">
                <hgroup>
                <h2>Fördubbling utav tal</h2>
                </hgroup>
                <article>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett tals dubbla värde.
                </p>

                <content ng-model="doubleNumber">
                    import Data.Complex

                    doubleNumber :: Num a => a -> a
                    doubleNumber x = x + x

                    float   = doubleNumber 1.3 :: Float
                    integer = doubleNumber 3 :: Integer
                    complex = doubleNumber (2 :+ 3) :: Complex Double
                    ratio   = doubleNumber 2.6 :: Rational
                </content>
                <haskell ng-model="doubleNumber"/>
                </article>
            </slide>
            <slide id="doubling-all-the-things">
                <hgroup>
                <h2>Fördubbling utav <strong><q>allt</q></strong></h2>
                </hgroup>

                <article>
                <p>
                    <strong>Problem att lösa:</strong> Räkna ut ett <em>objekts</em> dubbla värde.
                </p>

                <content ng-model="doubleMonoid">
                    import Data.Monoid

                    doubleMonoid :: Monoid a => a -> a
                    doubleMonoid x = x <> x

                    string = doubleMonoid "abc"
                    list = doubleMonoid [1, 2, 3]
                    sum = getSum $ doubleMonoid (Sum 5)
                    product = getProduct $ doubleMonoid (Product 5)
                </content>
                <haskell ng-model="doubleMonoid"/>
                </article>
            </slide>
            <slide id="abstractions-overview-polymorphic">
                <hgroup>
                <h2>
                    Abstraktion via <strong>parameteriserad polymorfism</strong>
                </h2>
                </hgroup>

                <article>
                <p>(inget nytt för er)</p>
                </article>
            </slide>
            <slide id="abstractions-overview-advanced">
                <hgroup>
                <h2>Mer avancerade abstraktioner</h2>
                </hgroup>
            </slide>
            <slide id="map-primitive">
                <hgroup>
                <h2>Transformation utav element i behållare</h2>
                </hgroup>

                <article>
                <content ng-model="doubleMap">
                    import qualified Data.Vector as V

                    doubleList = map (* 2)

                    doubleVector = V.map (* 2)

                    doubleMaybe (Just a) = Just (a * 2)
                    doubleMaybe Nothing = Nothing

                    list = doubleList [1, 2, 3, 4]
                    vector = doubleVector $ V.iterateN 4 (+1) 1
                    maybe = doubleMaybe $ Just 2
                </content>
                <haskell ng-model="doubleMap"/>
                </article>
            </slide>
            <slide id="map-abstraction">
                <hgroup>
                <h2>Abstrakt transformation utav behållare</h2>
                </hgroup>

                <article>
                <content ng-model="mapAbstract">
                    import Prelude (map, Maybe (..))
                    import qualified Data.Vector as V

                    class Functor f where
                      fmap :: (a -> b) -> f a -> f b

                    instance Functor [] where
                      fmap = map

                    instance Functor V.Vector where
                      fmap = V.map

                    instance Functor Maybe where
                      fmap f (Just a) = Just (f a)
                      fmap _ _        = Nothing
                </content>
                <haskell ng-model="mapAbstract"/>
                </article>
            </slide>
            <slide id="map-all-the-things">
                <hgroup>
                <h2>Transformation utav element i <strong>alla</strong> behållare</h2>
                </hgroup>

                <article>
                <content ng-model="doubleFunctor">
                    import Data.Vector as V
                    import Data.Complex

                    doubleFunctor :: (Functor f, Num a) => f a -> f a
                    doubleFunctor = fmap (* 2)

                    list = doubleFunctor [1, 2, 3, 4]
                    vector = doubleFunctor $ V.replicate 4 2
                    maybe = doubleFunctor $ Just (2 :+ 3)
                </content>
                <haskell ng-model="doubleFunctor"/>
                </article>
            </slide>
            <slide id="functor-change-perspective">
                <p>
                    Utgångsperspektiv:
                </p>
                <article>
                <h2>
                    <code>
                        fmap <span class="border-accent-1">f</span>
                        <span class="border-accent-2">container</span>
                    </code>
                </h2>
                <p>
                    <em>Transformera</em> varje element i
                    <code><span class="border-accent-2">container</span></code> med
                    <code><span class="border-accent-1">f</span></code>
                </p>
                </article>
            </slide>
            <slide id="functor-changed-perspective">
                <p>
                    Nytt perspektiv:
                </p>

                <article>
                <h2>
                    <code>
                        <span class="border-accent-1">f</span> <$>
                        <span class="border-accent-2">container</span>
                    </code>
                </h2>
                <p>
                    <em>Applicera</em> <code><span class="border-accent-1">f</span></code> till
                    innehållet i <code><span class="border-accent-2">container</span></code> (vad
                    det nu må vara)
                </p>
                </article>
            </slide>
            <slide id="misc-functors">
                <hgroup>
                <h2>Vad är en funktor?</h2>
                </hgroup>

                <article>
                <p>
                    Begreppet <q>behållare</q> blir <q>funktor</q> &mdash;
                    något vars innehåll en funktion kan verka på.
                    Eller: ett universum utav värden, och funktioner kan lyftas
                    till detta universum.
                </p>
                <dl>
                    <dt><code>[a]</code></dt>
                    <dd>
                        Lista med flera värden &mdash; eller endast <em>ett</em> värde med
                        flera lika sannorlika möjligheter?
                    </dd>

                    <dt><code>Maybe a</code></dt>
                    <dd>
                        En <q>lista</q> med noll eller ett värde &mdash; eller ett
                        värde som bara <em>kanske</em> finns?
                    </dd>
                </dl>
                </article>
            </slide>
            <slide id="applicative-functors">
                <hgroup>
                <h2>Utökning utav funktorer</h2>
                </hgroup>

                <article>
                <p>
                    Med en funktor så kan man applicera en funktion med ett argument.
                    Hur går det med två argument?
                </p>
                <content ng-model="applicative">
                    import Control.Applicative
                    -- class Functor f => Applicative f where
                    --   (<*>) :: f (a -> b) -> f a -> f b
                    --   pure  :: a -> f a

                    list = (*) <$> [1, 2, 3] <*> [2, 3, 4]

                    husbandSurname = Just "Persson"; wifeSurname = Just "Ericsson"
                    coupleSurname =
                      let combine h w = w ++ "-" ++ h
                      in combine <$> husbandSurname <*> wifeSurname
                </content>
                <haskell ng-model="applicative"/>
                </article>
            </slide>
            <slide id="applicative-understanding">
                <hgroup>
                <h2>Förstå applikativa funktorer</h2>
                </hgroup>

                <article>
                <content ng-model="applicativeUnderstanding">
                    import Control.Applicative

                    list = [(+ 2), (* 2), (/ 2)] <*> [73, 35]

                    threeAndFour = pure (+) <*> pure 1 <*> [2, 3]
                    threeAndFour' = (+1) <$> [2, 3]
                    identical = threeAndFour == threeAndFour'
                </content>
                <haskell ng-model="applicativeUnderstanding"/>
                </article>
            </slide>
            <slide id="advanced-functors">
                <hgroup>
                <h2>Kort sidospår: Mer konkreta funktorer</h2>
                </hgroup>

                <article>
                <dl>
                    <dt><code>IO a</code></dt>
                    <dd>
                        Värden som inte finns ännu, men som kommer att finnas när
                        någon kommunikation med omvärlden skett.
                    </dd>

                    <dt><code>Rand a</code></dt>
                    <dd>
                        Värden som är slumpmässigt bestämda, det vill säga varje
                        gång man ser på det så kommer det att vara ett annat värde.
                    </dd>
                </dl>
                </article>
            </slide>
            <slide id="io-functor-examples">
                <hgroup>
                <h2><code>IO</code>: Den vanligaste funktorn</h2>
                </hgroup>

                <article>
                <p>
                    Ett värde i <code>IO</code> är ett program!
                </p>
                <content ng-model="ioFunctor">
                    import Control.Applicative

                    -- OBS: obegränsad IO-evaluering är ej tillåten här! Kopiera
                    -- innehållet till en .hs-fil och ladda den med ghci lokalt!

                    main :: IO ()
                    main = print "Hello, World!"

                    readTwoLines :: IO (String, String)
                    readTwoLines = (\ a b -> (a, b)) <$> getLine <*> getLine
                </content>
                <haskell ng-model="ioFunctor"/>
                </article>
            </slide>
            <slide id="rand-functor-examples">
                <hgroup>
                <h2><code>Rand</code>: En ovanlig funktor</h2>
                </hgroup>

                <article>
                <content ng-model="randFunctor">
                    import Control.Applicative
                    import Control.Monad.Random
                    import System.Random (mkStdGen)

                    die = getRandomR (1, 6)

                    outcome = (+) <$> die <*> die

                    outcome1, outcome2, outcome3 :: Int
                    outcome1 = evalRand outcome $ seed 11233152
                    outcome2 = evalRand outcome $ seed 721432823
                    outcome3 = evalRand outcome $ seed 342073

                    seed = mkStdGen
                </content>
                <haskell ng-model="randFunctor"/>
                </article>
            </slide>
            <slide id="monads-finally">
                <hgroup>
                <h2>Vad är nu monader för något?</h2>
                </hgroup>

                <article>
                <p>
                    Ytterligare en utökning till funktorer.
                </p>
                <content ng-model="monadIntro">
                    class Monad m where
                      (>>=) :: m a -> (a -> m b) -> m b
                      return :: a -> m a
                      -- etc
                </content>
                <haskell ng-model="monadIntro"/>
                </article>
            </slide>
            <slide id="monad-examples">
                <hgroup>
                <h2>Exempel: Beräkna &pi;!</h2>
                </hgroup>

                <article>
                <content ng-model="monadExamples">
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    samples = [-1, -0.99 .. 1]

                    points =
                      samples >>= \ x ->
                      samples >>= \ y ->
                      return $ inUnitCircle x y

                    piApprox = let (inside, outside) = partition id points
                      in fromIntegral (4 * length inside) / fromIntegral (length points)
                </content>
                <haskell ng-model="monadExamples"/>
                </article>
            </slide>
            <slide id="monad-pretty">
                <hgroup>
                <h2>Syntaktiskt socker</h2>
                </hgroup>

                <article>
                <content ng-model="monadSugar">
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    samples = [-1, -0.99 .. 1]

                    points = do
                      x <- samples
                      y <- samples
                      return $ inUnitCircle x y

                    piApprox = let (inside, outside) = partition id points
                      in fromIntegral (4 * length inside) / fromIntegral (length points)
                </content>
                <haskell ng-model="monadSugar"/>
                </article>
            </slide>
            <slide id="monad-io">
                <hgroup>
                <h2>Exempel med <code>IO</code></h2>
                </hgroup>

                <article>
                <content ng-model="monadIOExample">
                    main = do
                      putStrLn "What is your name?"
                      name <- getLine
                      putStrLn "What is your home town?"
                      town <- getLine
                      putStrLn $ "You are " ++ name ++ " from " ++ town
                </content>
                <haskell ng-model="monadIOExample"/>
                </article>
            </slide>
            <slide id="monad-rand">
                <hgroup>
                <h2>Exempel med <code>Rand</code></h2>
                </hgroup>

                <article>
                <content ng-model="monadRandExample">
                    import Control.Monad.Random
                    import Data.List

                    inUnitCircle x y = sqrt (x * x + y * y) < 1

                    sample = getRandomR (-1, 1) :: RandomGen g => Rand g Double

                    points = do { x <- sample; y <- sample; return $ inUnitCircle x y }

                    piApprox =
                      let ps = take 10000 $
                               unfoldr (Just . runRand points) (mkStdGen 1000)
                          (inside, outside) = partition id ps
                      in fromIntegral (4 * length inside) / fromIntegral (length ps)
                </content>
                <haskell ng-model="monadRandExample"/>
                </article>
            </slide>
            <slide id="make-a-functor">
                <hgroup>
                <h2>Göra en funktor!</h2>
                </hgroup>

                <article>
                <content ng-model="makeAFunctor">
                    import Control.Applicative hiding ((<|>))
                    data Parser a = Parser { runParser :: String -> Maybe (a, String) }

                    instance Functor Parser where
                      fmap f p = Parser $ \ s -> case runParser p s of
                        Just (result, rest) -> Just (f result, rest)
                        Nothing             -> Nothing

                    instance Applicative Parser where
                      fp <*> ap = Parser $ \ s -> case runParser fp s of
                        Just (f, rest1) -> case runParser ap rest1 of
                          Just (a, rest2) -> Just (f a, rest2)
                          Nothing         -> Nothing
                        Nothing         -> Nothing
                      pure a = Parser $ \ s -> Just (a, s)
                </content>
                <haskell ng-model="makeAFunctor"/>
                </article>
            </slide>
            <slide id="make-a-monad">
                <hgroup>
                <h2>Göra en monad!</h2>
                </hgroup>

                <article>
                <content ng-model="makeAMonad">
                    --include:makeAFunctor

                    instance Monad Parser where
                      a >>= f = Parser $ \ s -> case runParser a s of
                        Just (a, rest) -> runParser (f a) rest
                        Nothing -> Nothing
                      return a = Parser $ \ s -> Just (a, s)

                    p1 <|> p2 = Parser $
                      \ s -> case runParser p1 s of
                        Just x -> Just x
                        Nothing -> runParser p2 s
                </content>
                <haskell ng-model="makeAMonad"/>
                </article>
            </slide>
            <slide id="make-a-monad-cont">
                <hgroup>
                <h2>Göra monader: fortsättning</h2>
                </hgroup>

                <article>
                <content ng-model="makeAMonadCont">
                    --include:makeAFunctor --include:makeAMonad

                    char c = Parser $ \ str -> case str of
                      c' : rest | c == c' -> Just (c, rest)
                      _ -> Nothing

                    string "" = return ""
                    string s@(c : cs) = do
                      char c
                      string cs
                      return s
                </content>
                <haskell ng-model="makeAMonadCont"/>
                </article>
            </slide>
            <slide id="make-a-monad-usage">
                <article>
                <content ng-model="makeAMonadUsage">
                    import Data.Functor
                    --include:makeAFunctor --include:makeAMonad --include:makeAMonadCont
                    data Direction = Coming | Going deriving Show
                    data Statement = Greeting String Direction deriving Show

                    direction = (string "Hej då" >> return Going) <|>
                                (string "Hej" >> return Coming)

                    person = string "Ben" <|> string "Lisa" <|> string "Sam"

                    statement = do { d <- direction; char ' '; p <- person;
                                     return $ Greeting p d }

                    result1 = fst <$> runParser statement "Hej Ben"
                    result2 = fst <$> runParser statement "Hej då Lisa"
                    result3 = fst <$> runParser statement "Varsågod Sam"
                </content>
                <haskell ng-model="makeAMonadUsage"/>
                </article>
            </slide>
            <slide class="backdrop">
            </slide>
        </slides>
    </body>
</html>
